<div class="top-content" [class.scrolled]="isScrolled">
   <div class="logo">Logo</div>
   <div class="list">
    <nav class="menu" fxLayout="row" fxLayoutGap="20px" fxHide.lt-md >
      <div (click)="navigate('home')" class="nav-list-item" [class.active]="currentSection === 'home'" >Home</div>
      <div (click)="navigate('about')" class="nav-list-item" [class.active]="currentSection === 'about'" >About</div>
      <div (click)="navigate('experiance')" class="nav-list-item" [class.active]="currentSection === 'experiance'" >Experiance</div> 
      <div (click)="navigate('contact')" class="nav-list-item"[class.active]="currentSection === 'contact'" >Contact</div> 
    </nav>
    
    <div fxHide.gt-sm (click)="openEnd(content)" class="open-canvas"><i class="fa-solid fa-align-justify"></i></div>
   </div> 
</div> 
<ng-template #content let-offcanvas>
  <div class="canvas-content">
    <div class="close-icon"><span (click)="offcanvas.close('Close click')" style="font-size: 20px; cursor: pointer;"><i class="fa-solid fa-xmark"></i></span></div>
    <nav fxLayout="column" fxLayoutGap="20px" style="gap: 15px;">
      <div (click)="navigate('home') ;offcanvas.close('Close click')" class="nav-list-item canvas-list" [class.active]="currentSection === 'home'" >Home</div>
      <div (click)="navigate('about') ;offcanvas.close('Close click')" class="nav-list-item canvas-list"[class.active]="currentSection === 'about'" >About</div>
      <div (click)="navigate('experiance')" class="nav-list-item" [class.active]="currentSection === 'experiance'" >Experiance</div> 
      <div (click)="navigate('contact');offcanvas.close('Close click')" class="nav-list-item canvas-list" [class.active]="currentSection === 'contact'" >Contact</div> 
    </nav>

  </div>
</ng-template>
