.nav-list {
  position: sticky;
  top: 0;
  position: relative; /* Context for vertical animation */
  transform: none !important;
}

section {
  position: relative; /* Context for vertical and horizontal animations */
}