<section id="home" class="home-section"  #homeContent>
  <div class="content-wrapper">
    <p class="greeting">Hi, I’m</p>
    <h1 class="typing-text"><span #typingName class="gradient-text"></span></h1>

    <p class="roles">Angular Developer • Software Engineer</p>

    <p class="summary">
      Passionate about building fast, responsive, and scalable web applications.<br />
      Focused on clean code, great UX, and seamless animations.
    </p>

    <div class="cta-buttons">
      <a href="assets/your-resume.pdf" target="_blank" class="btn">Resume</a>
      <a href="#contact" class="btn btn-outline">Let's Talk</a>
    </div>
  </div>
</section>
