.about-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
  // background: #fafafa;
  color: #333;
  // font-family: 'Poppins', sans-serif;

  .about-left {
    width: 50%;
    // opacity: 0;

    h2 {
      font-size: 2rem;
      position: relative;
      margin-bottom: 1.5rem;

      .section-number {
        color: #e91e63;
        margin-right: 0.5rem;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 60%;
        height: 2px;
        // background: #000;
         background: linear-gradient(to right, #ff4b2b, #f9cb28, #43e97b);
        margin-left: 1rem;
        vertical-align: middle;
      }
    }

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.7;
    }

    .highlight {
      color: #e91e63;
      font-weight: 600;
    }

    .tech-list p {
      margin: 0.5rem 0;
      font-size: 0.95rem;
    }
  }

  .about-right {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    .photo-placeholder {
      width: 250px;
      height: 250px;
      border: 3px solid #111;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      background: #fbe9e7;
      border-radius: 8px;
    }

    img {
      width: 100%;
      border-radius: 8px;
      border: 3px solid #111;
    }
  }
}
.gradient-text {
      background: linear-gradient(to right, #ff4b2b, #f9cb28, #43e97b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.2rem;
      font-weight: 800;
    }
