<section class="contact" #contactSection>   
  <h2 class="contact-heading"> Get In Touch </h2>
  <p class="contact-text">
    I’m actively looking for new opportunities where I can contribute my expertise in Angular and frontend development. 
    Whether it’s building scalable applications, optimizing performance, or creating intuitive user experiences, 
    I’m excited to take on new challenges!
  </p>
  <p class="contact-subtext">
    If you’re hiring or have a project in mind, feel free to reach out — I’d love to chat!
  </p>
  <a href="mailto:vigneshwaranmhr@gmail.com" class="contact-button">
  Say Hello
</a>

</section>
